@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared style */
.display-flex {
  display: flex;
}
/* shared color style */
.text-light {
  color: #ffffff;
}
.text-orang {
  color: #e6533c;
}

/* For Banner Part */
.banner {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(15, 15, 15, .75) 100%
  );
  width: 1440px;
  height: 715px;
}
.btn-primary {
  background-color: rgb(230, 83, 60);
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  justify-content: center;
  border-radius: 42px;
  margin: 0px 14px;
}
.btn-secondary {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  justify-content: center;
  border-radius: 42px;
  margin: 0px 14px;
}
.btn-3 {
  /* width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); */
  width: 200px;
  height: 96px;
  box-sizing: border-box;
  background: rgba(48, 48, 48, 0.54);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
/* .button-icon {
  background: rgb(230, 83, 60); 
  color: black;
  border-radius: 50%;
  font-size: 24px; 
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
} */
.button-icon span {
  font-family: "Inter Tight", sans-serif;
  width: 68px;
  height: 24px;
  font-weight: 900;
}
#button-1 {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 150px;
  margin-top: -390px;
}
#button-2 {
  background-color: rgb(42, 39, 39);
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 20px;
  margin-top: 140px;
}
.navbar .logo {
  color: #FF4C4C;
  font-size: 24px;
  font-weight: bold;
}
.nav-menu{
  margin-left: 120px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.navbar ul li a.active, .navbar ul li a:hover {
  background-color: #FF4C4C;
}

.banner-detiles {
  justify-content: space-between;
}
.banner-img {
  margin: 0 214px;
  /* width: 100%; */
  margin-top: 2rem;
}
.banner-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 520px;
  height: 282px;
  margin-left: 190px;
}
.header-title {
  font-size: 78px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.header-title span {
  font-family: "Italianno", cursive;
  font-weight: 300;
}
.header-content {
  font-size: 16px;
}
